body {
    font-family: sans-serif;
    background-color: grey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    width: 800px;
    margin: 0 180px;
    color: black;
    background-color: lightgrey;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
}
